#game_area {
    width: 900px;
    height: 900px;
    background-color: rgb(36, 36, 36);
    margin-left: auto;
    margin-right: auto;
}

#game_area, td {
    border: 1px solid rgb(187, 187, 187);
    border-collapse: collapse;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}

.ui-widget-content {
    background: white;
    border: 1px solid rgb(76, 76, 76);
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

#success {
    padding: 0;
    margin: 0; 
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.ui-widget-header {
    background: rgb(76, 76, 76);
    border: 0;
    color: white;
    font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
    text-align: center;
    padding: 0.5em;
    position: relative;
    font-size: 2em;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-dialog .ui-dialog-buttonpane { 
    text-align: center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: none;
}